* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 body{
    background-image: linear-gradient(to top left, #8dd6a6 50%, #e394a3 50%);
 }

.container {
    width: 95vw;
    margin: 20px;
    /* margin-right: 20px; */
    /* border: 1px solid red; */
    height: 100vh;
    display: grid;
     grid-template-rows: 590px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    /* background-image: linear-gradient(to top left, #8dd6a6 50%, #e394a3 50%);   */
    /* text-align: center; */
    /* justify-content: center; */
    /* align-items: center; */
}
.box-1 {
    /* background-color: rgb(192, 17, 17); */
    background-color: white;
    grid-column: 1/2;
    /* border: 1px solid green; */
    border: 1px solid #ccc ;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.box-2 {
    /* background-color: rgb(161, 163, 54); */
    background-color: white;
    grid-column: 2/3;
    /* border: 1px solid blue; */
    border: 1px solid #ccc ;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.box-3 {
    /* background-color: rgb(43, 145, 114); */
    background-color: white;
    grid-column: 3/4;
    /* border: 1px solid yellow; */
    border: 1px solid #ccc ;
    /* margin: 0 12px; */
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
h3{
    font-family: 'Cabin', sans-serif;
    text-align: center;
}
.button {
    
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    background-color:  rgb(255, 56, 56);
    border: none;
    text-decoration: none;
    padding: 10px 24px;
    margin: 22px 2px;
    align-items: center;
    font-family: 'Cabin', sans-serif;
}

.button-1 {
    
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    background-color: rgb(255, 56, 56);
     border: none;
    text-decoration: none;
    padding: 10px 24px;
    margin: 12px 2px;
    font-family: 'Cabin', sans-serif;
    
} 
.button-1 :hover{
    
    
    background-color:  #2a7be6;
    
}
/* CSS of sub box-1 */

.image-1{
    /* border: 1px solid green; */
    /* position: relative; */
}
.image-1 img{
    height: 250px;
    margin: 30px;
    /* align-items: center; */
}
.text-1{
    /* border: 1px solid sienna; */
    text-align: center;
}

/* CSS of sub box-2 */

.image-2{
    /* border: 1px solid green; */
}
.image-2 img{
    height: 220px;
    margin: 10px;
}
.text-2{
    /* border: 1px solid sienna; */
}
.text-1 p{
    margin: 32px;
    font-family:  'Ubuntu', sans-serif ;
    font-size: 16px;
}
 
h3{
    font-family: 'Cabin', sans-serif;
}

/* CSS of sub box-3 */

.image-3{
    /* border: 1px solid green; */
}
.image-3 img{
    height: 250px;
    margin: 20px;
}
.text-3{
    /* border: 1px solid sienna; */
    align-items: center;
}
.b-1 p{
    text-align: center;
    font-family:  'Ubuntu', sans-serif ;

}
label{
    font-family:  'Ubuntu', sans-serif ;
    padding: 4px;
}

input[type=text] {
    width: 97%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-sizing: border-box;
  }
  input[type=email] {
    width: 97%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-sizing: borde8r-box;
  }
  input[type=password] {
    width: 97%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-sizing: border-box;
  }
  
   
  b{
    color: blue;
}
.b-1 {
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
     
}
 
  

/* For mobile */


@media (max-width: 500px) {
    body {
        background-color: white;
    }
    .container {
        width: 95vw;
        margin: 10px ;
        /* border: 1px solid red; */
        height: 100vh;
        display: grid;
         grid-template-rows: 550px 605px 580px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        /* text-align: center; */
        /* justify-content: center; */
        /* align-items: center; */
    }
    .box-1 {
        /* background-color: rgb(192, 17, 17); */
        grid-column: 1/-1;
        /* border: 1px solid green; */
    }
    .box-2 {
        /* background-color: rgb(161, 163, 54); */
        grid-column: 1/-1;
        /* border: 1px solid blue; */
    }
    .box-3 {
        /* background-color: rgb(43, 145, 114); */
        grid-column: 1/-1;
        /* border: 1px solid yellow; */
    }
}